@charset "utf8";
body {
  margin: 0;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 75%, rgba(154,0,70,1) 100%);
}
/* .chart {
  background: white;
} */

select {
  height: 30px;
  border: 3px solid #000;
  border-radius: 30%;
  text-align: center;
}

.select {
  font-family: serif;
  font-weight: 900;
  color: #fff;
  text-shadow: -2px -2px #000;
  border-top: solid 5px #850000;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
  background: #ed564c;
  bottom: 0;
}

.select > .select-content {
  margin-right: 20px;
}

.selected-value {
  font-size: 20px;
}

.chart {
  display: flex;
  justify-content: center; 
  align-items: center;
}