@charset "utf8";
body {
  background: linear-gradient(0, #8181ff, white 60%);
}
/* .chart {
  background: white;
} */

.select {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.select > .select-content {
  margin-right: 20px;
}

.selected-value {
  font-size: 20px;
}